<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="tokenTagDataReader" class="com.haikuMaster.reader.TokenTagDataModelReaderImpl"></bean>

    <bean id="word2VecDataReader" class="com.haikuMaster.reader.Word2VecModelReaderImpl"></bean>

    <bean id="word2VecTokenTagDataFactory" class="com.haikuMaster.factory.Word2VecTokenTagDataFactoryImpl"></bean>

    <bean id="tokenizer" class="com.haikuMaster.tokenizer.TokenizerImpl"></bean>


    <bean id="haikuSentenceCreator"
          class="com.haikuMaster.composer.HaikuSentenceCreatorImpl">
        <constructor-arg ref="tokenizer"/>
    </bean>


    <bean id="haikuComposer"
          class="com.haikuMaster.composer.HaikuComposerImpl">
        <constructor-arg ref="tokenTagDataReader"/>
        <constructor-arg ref="word2VecDataReader"/>
        <constructor-arg ref="word2VecTokenTagDataFactory"/>
        <constructor-arg ref="haikuSentenceCreator"/>
    </bean>


</beans>